{% extends 'base.html' %}



{% load static %}

{% block content %}


<!--template to output all programmes-->

<include src="./programmes.html"></include>
    <h1 class="alert alert-primary" role="alert"> All Programmes</h1>

    <div>
        <ul>
        <!--for loop to loop through all the programme objects-->
        {% for programme in programmes %}
        <!--upon looping it outputs the fields using the relevant placedholders-->
            <p class="alert alert-primary" role="alert"><a href="{% url 'programme_detail' programme.pk %}"> {{programme.title }}</a>
                
                By - {{programme.author}} 

            <!--checks if the author of the programme has a profile picture before outputting -->
            {% if programme.author.staff.profile_pic  %}
                <img src="{{ programme.author.staff.profile_pic.url }}" width="100" height="100"></img>
            
            {% else %}
                <!-- if the author of the programme  doesn't have a profile picture it outputs a generic profile picture -->
                <img src="{% static 'fyp/images/image.jpg' %}" width="100" height="100"></img>
                <br/><br/>
            
            {% endif %}
            </p>
            
            

        {% endfor %}
        </ul>
    </div>

<br/><br/>
<a href="{% url 'programmesPage' %}" class="btn btn-secondary">Back</a>
<br/><br/>


{% endblock %}